.menu-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-img {
    width: 150px; /* Reducimos el tamaño */
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ff7b00;
}
.menu-img {
    width: 80px;  /* Imagen más pequeña */
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

